/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5em;
  color: #333;
}
a {
  text-decoration: none;
}
.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tooltip .fa {
  font-size: 50px;
  color: dodgerblue;
}
.tooltip span {
  position: absolute;
  width: 250px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.tooltip span::after {
  content:'';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #000;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
  
}
.tooltip:hover span {
  opacity: 1;
  visibility: visible;
}