/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  outline: none;
}
body {
  margin: 0;
  line-height: 1.6em;
  font-size: 15px;
  color: #222;
  background-color: #fff;
  /* font-weight: 300; */
}
a {
  text-decoration: none;
  color: #222;
}

/* Reset CSS */
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Common CSS */
.font-noto {
  font-family: 'Noto Sans KR', serif;
  font-weight: 300;
}
.headline-share {
  text-align: center;
}
.headline-share h1 {
  font-size: 56px;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 50px;
  margin-bottom: 70px;
  position: relative;
}
.headline-share h1::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.btn-view {
  color: #fff;
  border-radius: 3px;
  padding: 2px 8px;
  font-size: 10px;
  vertical-align: 2px;
}
.btn-view.pc {
  background-color: crimson;
}
.btn-view.mobile {
  background-color: royalblue;
}

/* ############### Section : Portfolio ############### */
section.portfolio {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background: url('../images/background2.png') no-repeat;
  background-position: top right;
}
.items {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
aside.item {}
aside.item b { 
  color: crimson;
  font-weight: normal;
  font-size: 14px;
}
aside.item h2 {
  font-size: 26px;
  margin-top: 10px;
}
aside.item .font-noto span {
  font-family: 'Noto Sans KR', serif;
}
aside.item .portfolio-info span {
  display: list-item;
  list-style: disc;
  margin-left: 20px;
}
.item.thum .photo {
  height: 400px;
  box-shadow: 0 15px 45px -10px rgba(0, 0, 0, 0.233);
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  background-image: url('../images/web-portfolio-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transition: 1.7s;
}
.item.thum:hover .photo {
  background-position: bottom;
}
.item.thum:nth-of-type(1) .photo {
  background-image: url('../images/web-portfolio-01.jpg');
}
.item.thum:nth-of-type(2) .photo {
  background-image: url('../images/web-portfolio-02.jpg');
}
.item.thum:nth-of-type(3) .photo {
  background-image: url('../images/web-portfolio-03.jpg');
}
.item.thum span {
  display: block;
  text-align: center;
  margin-top: 7px;
}




/* FeatherLight Custom CSS */
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100%;
}
.featherlight .featherlight-inner {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  top: 10px;
  left: 10px;
  font-size: 30px;
}