/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', serif;
  outline: none;
}
body {
  margin: 0;
  line-height: 1.6em;
  font-size: 15px;
  color: #222;
  background-color: #fff;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #222;
}

/* Reset CSS */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input, button {
  border: none;
  outline: none;
}

/* Common CSS */
.inner {
  position: relative;
  width: 1280px;
  margin: auto;
  /* overflow: hidden; */
}

header {
  height: 100px;
  background-color: skyblue;
  color: #fff;
  font-size: 2em;
  text-align: center;
  line-height: 100px;
}
section {
  height: 500px;
  font-size: 2em;
  line-height: 500px;
  text-align: center;
}
section:nth-of-type(odd) {
  background-color: #ddd;
}
footer {
  padding: 30px 0;
  background-color: #37393d;
  color: #999;
}
footer .inner::after {
  content:'';
  display: block;
  clear: both;
}
.copyright {
  float: left;
}
.family {
  float: right;
  padding-top: 40px;
}
.policy a {
  color: #999;
}
.policy a:first-child {
  color: yellowgreen;
  font-weight: 500;
}
.policy a:hover {
  text-decoration: underline;
}
.info {
  margin-top: 10px;
}
.info p {
  margin: 0px;
  line-height: 1.2em;
}
footer em {
  font-style: normal;
  color: #555;
  margin: 7px;
  font-size: 12px;
  display: inline-block;
  /* vertical-align: middle; */
  transform: translateY(-2px);
}

/* Family Site */
.dropdown {
  position: relative;
  border: 1px solid #555;
  width: 200px;
  color: #303165;
  cursor: pointer;
  padding: 5px;
}
.dropdown .title {
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.title::after {
  content: '\e942';
  font-family: xeicon;
  position: absolute;
  font-size: 16px;
  right: 5px;
  top: 1px;
  color: #fff;
}
.title.active::after {
  transform: rotate(180deg);
}
.sub-navi {
  position: absolute;
  width: 100%;
  left: 0;
  bottom:100%;
  /* border: 1px solid rgb(150, 150, 150); */
  /* transform: translateY(-100%); */
  /* opacity: 0;
  visibility: hidden;
  transition: .5s; */
  display: none;
}
/* .sub-navi.active {
  opacity: 1;
  visibility: visible;
} */
.sub-navi li {}
.sub-navi li a {
  border-bottom: 1px solid rgb(150, 150, 150);
  color: #fff;
  display: block;
  padding: 7px;
  background-color: rgb(109, 109, 109);
}
.sub-navi li a:hover {
  background-color: rgb(88, 88, 88);
}
.sub-navi li:last-child a {
  border-bottom: none;
}